.{
padding: 0%;
margin: 0%;
box size: border box;

}

body{
    background:white;
    display: grid;
    place-items: center;
    min-height: 10px;
}

.container{
    background-color: white;
    padding: 1px;
    max-width: 40px;
    width: 100px;
}